[user]
  name = Alexey Shrub
  email = ashrub@yandex.ru
[color]
  ui = auto
[alias]
  st = status
  co = checkout
  cm = commit
  br = branch
  df = diff
  dw = diff --word-diff
  dc = diff --word-diff --word-diff-regex=.
  pom = push origin master
[push]
	default = simple

[diff "utf16diff"]
	textconv = "iconv -f utf-16 -t utf-8"
